---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-7 order-2 order-md-1">
        {{ content }}
        <div class="cta">
          <div class="call-box-top">
            <a href="{{ site.data.contact.contact_button_link }}" class="button">Book Individual Treasury Training</a>
          </div>
        </div>
        <div>
          <p>Scroll down to learn what will you get in this course.</p>
        </div>
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-5 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip-navy">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 mb-1">
        <div class="row justify-content-start content">
          <span>...</span>
          <h2>This is Bitcoin Treasury, not Bitcoin Trading</h2>
          <div class="col-12 col-md-6 mb-1">
            <h3>What Most People Do</h3>
            <div class="dont">
              <ul>
                <li>Keep Bitcoin on exchanges (vulnerable to hacks, not truly yours).</li>
                <li>Try to time the market (stressful, unpredictable, often fails)</li>
                <li>Gamble with futures trading (high losses, extreme volatility).</li>
            </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <h3>Bitcoin Treasury</h3>
            <div class="do">
              <ul>
                <li>Preserve wealth with a low-risk, long-term strategy.</li>
                <li>True ownership via secure storage (cold wallets, etc.).</li>
                <li>Tax & accounting compliance (e.g., personal tax reports) for peace of mind.</li>
              </ul>
            </div>
          </div>
          <div class="feature-container">
            <h2>What You’ll Master</h2>
            <div class="feature">
              <div class="row justify-content-start">
                <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-8 col-md-4 mb-1 m-auto">
                        <img class="img-fluid" alt="Hands-on Experience" src="{{ site.baseurl }}/images/illustrations/individual-benefit-1.svg" />
                      </div>
                      <div class="col-12 col-md-8 mb-1">
                        <p class="service-excerpt">Understanding the real bitcoin through hands-on experience.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-8 col-md-4 mb-1 m-auto">
                        <img class="img-fluid" alt="Best Practice" src="{{ site.baseurl }}/images/illustrations/individual-benefit-2.svg" />
                      </div>
                      <div class="col-12 col-md-8 mb-1">
                        <p class="service-excerpt">The best practice in buying, storing, & selling bitcoin.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-8 col-md-4 mb-1 m-auto">
                        <img class="img-fluid" alt="Accounting & Tax Disclosure" src="{{ site.baseurl }}/images/illustrations/individual-benefit-3.svg" />
                      </div>
                      <div class="col-12 col-md-8 mb-1">
                        <p class="service-excerpt">Accounting & tax disclosure (SPT Orang Pribadi).</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mb-1">
                    <a href="{{ site.data.contact.contact_button_link }}" class="button">Book Individual Treasury Training</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip-navy-dark">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 mb-1">
        <div class="row justify-content-start content">
          <span>...</span>
          <h2>Who'll Teach You</h2>
          {% assign promoted_teams = site.team | where: "trainer", true | sort: "weight" %}
          {% for team in promoted_teams %}
          <div class="col-12 mb-4">
            <div class="row justify-content-start team">
              {% if team.image %}
              <div class="col-8 col-md-4 mb-2 mt-2 m-auto">
                <img class="img-fluid" alt="{{ team.title }}" src="{{ team.image | relative_url }}" />
              </div>
              {% endif %}
              <div class="col-12 col-md-8 mb-1">
                {% if team.linkedinurl %}
                <h3 class="team-name"><a href="{{ team.linkedinurl }}">{{ team.title }}</a></h3>
                {% endif %}
                <p class="team-quote">{{ team.quote }}</p>
                {{ team.excerpt }}
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="row justify-content-start testimonial-container">
            {% if site.data.testimonials %}
            {% for testimonial in site.data.testimonials %}
            <div class="testimonial">
              <div class="testimonial-item">
                <p>"{{ testimonial.description }}"</p>
                <p class="author">{{ testimonial.title }}<span>{{ testimonial.role }}</span></p>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          <div class="col-12 mb-1">
            <a href="{{ site.data.contact.contact_button_link }}" class="button">Book Individual Treasury Training</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip-navy">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center feature-container">

      <h2>We're here to help you build a Bitcoin Treasury and connect  to a trusted network we've grown for years.</h2>

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 mb-2">
        <div class="feature">
          <h2 class="feature-title">{{ feature.title }}</h2>
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <div class="feature-content">{{ feature.description }}</div>
          <div class="call-box-top">
            <a href="{{ feature.cta.url }}" class="button {{ feature.cta.class }}">{{ feature.cta.text }}</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
